{{ define "main" }}
{{ if not .Params.menu }}
<h1>{{ .Title }}</h1>
<p class="byline">
  <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
    {{ .Date.Format (default "2006-01-02" .Site.Params.dateFormat) }}
  </time>
  {{ with .Params.author }}· {{.}}{{ end }} &middot;
  {{ .WordCount }}&nbsp;{{ i18n "words" }} words &middot;
  {{ .ReadingTime }}&nbsp;{{ i18n "minutes" }} mins
</p>
{{ end }}
<content>
  {{ .Content }}
</content>
{{ partialCached "tags.html" . .Title}}

<!-- Tinylytics Kudos Button -->
<div class="kudos-container" style="margin: 2em 0; text-align: center;">
  <button class="tinylytics_kudos"></button>
</div>

{{ partial "comments.html" . }}
{{ end }}
