{{ $isGerman := in .Permalink "/de/" }}
{{ if $isGerman }}
  <a href="/de/">Startseite</a>
  <a href="/de/posts/">Beiträge</a>
  <a href="/de/notes/">Notizen</a>
  <a href="/de/now/">Jetzt</a>
  <a href="/de/reading/">Lesen</a>
{{ else }}
  {{ range .Site.Menus.main.ByWeight }}
    <a href="{{ .URL }}">{{ .Name }}</a>
  {{ end }}
{{ end }}
{{ if $isGerman }}
<a href='{{ absURL "de/index.xml" }}'>RSS</a>
{{ else }}
<a href='{{ absURL "index.xml" }}'>RSS</a>
{{ end }}

<!-- Language switcher -->
{{ if $isGerman }}
  {{ if in .RelPermalink "/de/notes/" }}
    <a href="/notes/">English</a>
  {{ else if in .RelPermalink "/de/posts/" }}
    <a href="/posts/">English</a>
  {{ else }}
    <a href="/">English</a>
  {{ end }}
{{ else }}
  {{ if in .RelPermalink "/notes/" }}
    <a href="/de/notes/">Deutsch</a>
  {{ else if in .RelPermalink "/posts/" }}
    <a href="/de/posts/">Deutsch</a>
  {{ else }}
    <a href="/de/">Deutsch</a>
  {{ end }}
{{ end }}