{{ define "main" }}
{{ .Content }}

<h2>{{ if eq .Language.Lang "de" }}Beiträge{{ else }}Posts{{ end }}</h2>
{{ $allPages := .Site.RegularPages.ByDate.Reverse }}
{{ $posts := slice }}
{{ range $allPages }}
  {{ if and (in .RelPermalink "/posts/") (eq .Language.Lang $.Language.Lang) }}
    {{ $posts = $posts | append . }}
  {{ end }}
{{ end }}
{{ if $posts }}
  {{ range first 5 $posts }}
    <p>
      <time datetime='{{ .Date.Format "2006-01-02" }}'>{{ .Date.Format "2006-01-02" }}</time>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </p>
  {{ end }}
{{ else }}
  <p>{{ if eq .Language.Lang "de" }}Noch keine Beiträge.{{ else }}No posts yet.{{ end }}</p>
{{ end }}

<h2>{{ if eq .Language.Lang "de" }}Notizen{{ else }}Notes{{ end }}</h2>
{{ $notes := slice }}
{{ range $allPages }}
  {{ if and (in .RelPermalink "/notes/") (eq .Language.Lang $.Language.Lang) }}
    {{ $notes = $notes | append . }}
  {{ end }}
{{ end }}
{{ if $notes }}
  {{ range first 5 $notes }}
    <p>
      <time datetime='{{ .Date.Format "2006-01-02" }}'>{{ .Date.Format "2006-01-02" }}</time>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </p>
  {{ end }}
{{ else }}
  <p>{{ if eq .Language.Lang "de" }}Noch keine Notizen.{{ else }}No notes yet.{{ end }}</p>
{{ end }}
{{ end }}