{{ $title := .Get "title" }}
{{ $author := .Get "author" }}
{{ $date := .Get "date" }}
{{ $url := .Get "url" }}
{{ $rating := .Get "rating" }}

<p class="book-list-item">
    {{ if $date }}
        <span class="book-date">{{ $date }}</span> -
    {{ end }}
    {{ if $url }}
        <a href="{{ $url }}" target="_blank" rel="noopener">{{ $title }} by {{ $author }}</a>
    {{ else }}
        {{ $title }} by {{ $author }}
    {{ end }}
    {{ if $rating }}
        <span class="book-rating">({{ $rating }}/5)</span>
    {{ end }}
</p>

<style>
.book-list-item {
    margin: 0.5em 0;
}

.book-date {
    color: #666;
}

.book-rating {
    color: #f39c12;
    margin-left: 0.5em;
}
</style>