{{ $title := .Get "title" }}
{{ $author := .Get "author" }}
{{ $date := .Get "date" }}
{{ $url := .Get "url" }}
{{ $rating := .Get "rating" }}
{{ $notes := .Get "notes" }}

<div class="book-list-item">
    <p>
        {{ if $date }}
            <span class="book-date">{{ $date }}</span> -
        {{ end }}
        {{ if $url }}
            <a href="{{ $url }}" target="_blank" rel="noopener">{{ $title }} by {{ $author }}</a>
        {{ else }}
            {{ $title }} by {{ $author }}
        {{ end }}
        {{ if $rating }}
            <span class="book-rating">({{ $rating }}/5)</span>
        {{ end }}
    </p>
    {{ if $notes }}
    <p class="book-notes">{{ $notes }}</p>
    {{ end }}
</div>

<style>
.book-list-item {
    margin: 1em 0;
}

.book-list-item p {
    margin: 0.5em 0;
}

.book-date {
    color: #666;
}

.book-rating {
    color: #f39c12;
    margin-left: 0.5em;
}

.book-notes {
    color: #555;
    font-style: italic;
    margin-left: 1em;
}
</style>